<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is WTF form</title>
</head>
<body>
    {% extends 'base.html'%}
    {% block content %}
    {% if name %}
        <p> The name which was chosen is {{name}} and surname was {{surname}}</p>
        <p> To change data, repeat the operation </p>
    {% else %}
        <p>Please give name and surname</p>
    {% endif %}
    <form method="post">
        {{ form.hidden_tag() }}
        {{form.name_field.label}}  {{form.name_field}}
        {{form.surname_field.label}}  {{form.surname_field}}
        {{form.submit_button}}
        {% endblock %}
    </form>
</body>
</html>
